@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大学生实习报名系统-实习意向填报</title>
    <link href="~/collegeSrc/css/bootstrap.css" rel="stylesheet">
    <link href="~/collegeSrc/css/index.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="Part-one">
            <div class="g-in">
                <img src="~/collegeSrc/image/collegeLogo.png" />
            </div>
        </div>
        <div class="Part-two">
            <a href="loginout" class="logioutBtn">
                <img src="~/collegeSrc/image/logioutBtn.png" />
            </a>
            <div class="con-top">
                <div class="con-word">
                    <div class="con-user">实习意向填报</div>
                </div>
                <div class="con-line"></div>
            </div>
            <div class="con-bottom clearfix">
                <form class="form-horizontal" id="formId" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="name" id="name" placeholder="姓名">
                        </div>
                        <span class="name"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-2">
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="sex1" value="1" checked="checked"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="sex2" value="2"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="identity" id="sfzhm" placeholder="身份证号">
                        </div>
                        <span class="sfzhm"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">就读学校</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="attendSchool" id="jdxx" placeholder="就读学校">
                        </div>
                        <span class="jdxx"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">入学时间</label>
                        <div class="col-sm-4">
                            <input type="text" name="entrance" id="entrance" class="form-control editable datepicker" placeholder="请输入入学时间" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">毕业时间</label>
                        <div class="col-sm-4">
                            <input type="text" name="graduation" id="graduation" class="form-control editable datepicker" placeholder="请输入毕业时间" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-4">
                            <select id="education" name="education" class="form-control">
                                <option>大专</option>
                                <option>本科</option>
                                <option>硕士</option>
                                <option>博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">专业</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="major" id="zy" placeholder="专业">
                        </div>
                        <span class="zy"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="mobile" id="sjh" placeholder="手机号">
                        </div>
                        <span class="sjh"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">紧急联系人</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="contactName" placeholder="紧急联系人">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">紧急联系人电话</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="contactPhone" id="lxrdh" placeholder="紧急联系人电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">意向单位名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="intentionalUnit" id="intentionalUnit" placeholder="意向单位名称">
                        </div>
                        <span class="intentionalUnit">
                            <img src="~/collegeSrc/image/必填.png" /></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">意向单位类别</label>
                        <div class="col-sm-4">
                            <select id="companyTypeID" name="companyTypeID" class="form-control" >
                                @*<option value="0">--请选择单位类别--</option>*@
                                @if (ViewBag.companyType != null)
                                {
                                    foreach (var item in (List<Ys.Model.Model.College.companyTypes>)ViewBag.companyType)
                                    {
                                        <option value="@item.id">@item.companyName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">意向岗位类别</label>
                        <div class="col-sm-4">
                            <select id="stationTypeID" name="stationTypeID" class="form-control">
                                @*<option value="0">--请选择岗位类别--</option>*@
                                @if (ViewBag.stationtype != null)
                                {
                                    foreach (var item in (List<Ys.Model.Model.College.stationTypes>)ViewBag.stationtype)
                                    {
                                        <option value="@item.id">@item.stationName</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">居住地</label>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option1" autocomplete="off" value="小溪塔街道">小溪塔街道
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option2" autocomplete="off" value="夷陵经济开发区街道">夷陵经济开发区街道
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option3" autocomplete="off" value="樟村坪镇">樟村坪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option4" autocomplete="off" value="雾渡河镇">雾渡河镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option5" autocomplete="off" value="分乡镇">分乡镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option6" autocomplete="off" value="太平溪镇">太平溪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option7" autocomplete="off" value="三斗坪镇">三斗坪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option8" autocomplete="off" value="乐天溪镇">乐天溪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option9" autocomplete="off" value="龙泉镇">龙泉镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option10" autocomplete="off" value="鸦鹊岭镇">鸦鹊岭镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option11" autocomplete="off" value="邓村乡">邓村乡
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option12" autocomplete="off" value="下堡坪乡">下堡坪乡
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option13" autocomplete="off" value="黄花镇">黄花镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option14" autocomplete="off" value="东城试验区">东城试验区
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">意向工作地</label>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr1" autocomplete="off" value="小溪塔街道">小溪塔街道
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr2" autocomplete="off" value="夷陵经济开发区街道">夷陵经济开发区街道
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr3" autocomplete="off" value="樟村坪镇">樟村坪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr4" autocomplete="off" value="雾渡河镇">雾渡河镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr5" autocomplete="off" value="分乡镇">分乡镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr6" autocomplete="off" value="太平溪镇">太平溪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr7" autocomplete="off" value="三斗坪镇">三斗坪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr8" autocomplete="off" value="乐天溪镇">乐天溪镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr9" autocomplete="off" value="龙泉镇">龙泉镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr10" autocomplete="off" value="鸦鹊岭镇">鸦鹊岭镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr11" autocomplete="off" value="邓村乡">邓村乡
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr12" autocomplete="off" value="下堡坪乡">下堡坪乡
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr13" autocomplete="off" value="黄花镇">黄花镇
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="wrokAddr" id="wrokAddr14" autocomplete="off" value="东城试验区">东城试验区
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" class="btn btn-primary" onclick="fillFrom()">提交</button>
                            <a href="myFillFrom" class="btn btn-default">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="Part-three">
            版权所有：&copy;宜昌市夷陵区劳动就业管理局
        </div>
        <!-- 弹窗提示区域开始 -->
        <div class="my-alert-mask" style="display:none;"></div>
        <div class="alert my-alert alert-info alert-dismissible" style="display:none;width:20px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="alert-title"><i class="icon fa fa-check"></i>标题</h4>
            <div class="alert-con">
                内容
            </div>
        </div>
    </div>
    <script src="~/collegeSrc/js/jquery.min.js"></script>
    <script src="~/collegeSrc/js/bootstrap.min.js"></script>
    <script src="~/collegeSrc/js/common.js"></script>
    <script src="~/collegeSrc/js/my-alert.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-i18n.min.js"></script>
    @Html.Raw(ViewBag.js)
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
            $(".datepicker").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "1990:2030"

            }); });
        $(".Part-two").css("background-position-y", "980px");
    </script>
</body>
</html>