@model Ys.Model.Model.College.intentionForms
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大学生实习报名系统-我的实习意向</title>
    <link href="~/collegeSrc/css/bootstrap.css" rel="stylesheet">
    <link href="~/collegeSrc/css/index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="Part-one-table">
            <div class="g-in">
                <img src="~/collegeSrc/image/collegeLogo.png" />
            </div>
        </div>
        <div class="Part-two-table">
            <a href="loginout" class="logioutBtn">
                <img src="~/collegeSrc/image/logioutBtn.png" /></a>
            <div class="con-top">
                <div class="con-word">
                    <div class="con-user">@(ViewBag.userName == "" ? "我的实习意向" : ViewBag.userName)</div>
                </div>
                <div class="con-line"></div>
                <p class="dlDesc">说明：请下载岗位信息表，选择岗位信息表中已有的实习单位进行填报</p>
                <div class="fileTable">
                    <div class="row">
                        <div class="col-sm-2 col-xs-3">
                            @*<a href="jobBrowse"><span class="text-muted">岗位一览</span></a>*@
                            <a class="qy" href="~/files/企业岗位表.xls">企业岗位表<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                        </div>
                        <div class="col-sm-3 col-xs-4">
                            <a class="sy" href="~/files/事业单位岗位表.xls">事业单位岗位表<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    </div>
                
                <div class="con-btn">
                    @if (Model != null)
                    {
                        @*<a href="#" class="btn btn-primary" disabled="disabled">新增实习意向</a>*@
                        <a class="btn btn-primary" href="@Url.Action("myFillFromEidt", new { id = Model.id })" title="修改实习意向">修改实习意向</a>
                    }
                    else
                    {
                        <a href="fillFrom" class="btn btn-primary">新增实习意向</a>
                    }
                </div>
            </div>
            
            <div class="con-bottom con-table">
                @*<div class="row condition">
                    <div class="col-md-3 col-xs-5">
                        <a href="myFillFrom"><span class="text-primary">我的实习意向</span></a>
                    </div>
                    
                </div>*@
@if (Model != null)
{
                <div class="studInfo">

                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">更新时间:</div>
                        <div class="col-md-4">@Model.updatetime.ToShortDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">姓名:</div>
                        <div class="col-md-4">@Model.name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">性别:</div>
                        <div class="col-md-4">@(Model.sex == "1" ? "男" : Model.sex == "2" ? "女" : "")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">身份证号:</div>
                        <div class="col-md-4">@Model.identity</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">就读学校:</div>
                        <div class="col-md-4">@Model.attendSchool</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">入学时间:</div>
                        <div class="col-md-4">@Model.entrance</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">毕业时间:</div>
                        <div class="col-md-4">@Model.graduation</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">学历:</div>
                        <div class="col-md-4">@Model.education</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">专业:</div>
                        <div class="col-md-4">@Model.major</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">手机号:</div>
                        <div class="col-md-4">@Model.mobile</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">紧急联系人:</div>
                        <div class="col-md-4">@Model.contactName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">紧急联系人电话:</div>
                        <div class="col-md-4">@Model.contactPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">意向单位名称:</div>
                        <div class="col-md-4">@Model.intentionalUnit</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">意向单位类别:</div>
                        <div class="col-md-4">@Model.companyType.companyName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">意向岗位类别:</div>
                        <div class="col-md-4">@Model.stationType.stationName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">居住地:</div>
                        <div class="col-md-4">@Model.liveWhere</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 heavy">意向工作地:</div>
                        <div class="col-md-4">@Model.wrokAddr</div>
                    </div>
                </div>
}
                @*<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>身份证号</th>
                            <th>就读学校</th>
                            <th>入学时间</th>
                            <th>毕业时间</th>
                            <th>学历</th>
                            <th>专业</th>
                            <th>手机号</th>
                            <th>紧急联系人</th>
                            <th>紧急联系人电话</th>
                            <th>意向单位名称</th>
                            <th>意向单位类别</th>
                            <th>意向岗位类别</th>
                            <th>居住地</th>
                            <th>意向工作地</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody id="itemContainer">
                            <tr>
                                <td>@Model.name</td>
                                <td>@(Model.sex == "1" ? "男" : Model.sex == "2" ? "女" : "")</td>
                                <td>@Model.identity</td>
                                <td>@Model.attendSchool</td>
                                <td>@Model.entrance</td>
                                <td>@Model.graduation</td>
                                <td>@Model.education</td>
                                <td>@Model.major</td>
                                <td>@Model.mobile</td>
                                <td>@Model.contactName</td>
                                <td>@Model.contactPhone</td>
                                <td>@Model.intentionalUnit</td>
                                <td>@Model.companyType.companyName</td>
                                <td>@Model.stationType.stationName</td>
                                <td>@Model.liveWhere</td>
                                <td>@Model.wrokAddr</td>
                                <td class="nowrap flex-box">
                                    <a href="@Url.Action("myFillFromEidt", new { id = Model.id })" title="编辑"><span class="icon icon-edit"></span>编辑</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tfoot>
                            <tr>
                                <td colspan='17'>暂无记录</td>
                            </tr>
                        </tfoot>
                    }

                </table>*@
            </div>
        </div>
        <div class="Part-three">
            版权所有：&copy;宜昌市夷陵区劳动就业管理局
        </div>
    </div>
</body>

</html>