@{
    ViewBag.Title = "用户信息编辑";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>用户信息编辑</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("注册用户管理", "Index")
                <span class="crumb-step">&gt;</span><span>用户信息编辑</span>
            </div>
        </div>
        <!--导航栏-->        
        <div class="result-wrap">
            <!--内容-->
            <div id="floatHeadEdit" class="content-tab-wrap">
                <div class="content-tab">
                    <div class="content-tab-ul-wrap">
                        <ul>
                            <li><a class="selected" href="javascript:void(0);">用户信息</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content"> 
                <dl>
                    <dt>用户组别</dt>
                    <dd>
                        <label>个人用户</label>
                    </dd>
                </dl>               
                <dl>
                    <dt>头 像</dt>
                    <dd>                                                         	
                        <img alt="" id="thumbnailImage" src="@Url.Content("~/img/user_avatar.png")" class="min-img" />
                    </dd>
                </dl>            
                <dl>
                    <dt>用户名</dt>
                    <dd>                        
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>昵 称</dt>
                    <dd>                        
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>真实姓名</dt>
                    <dd>                        
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>性 别</dt>
                    <dd>                        
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>出生日期</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>专 业</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>学 历</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>学 位</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl data-role="applicant">
                    <dt>现居地</dt>
                    <dd>
                        <label></label>
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>联系地址</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>联系电话</dt>
                    <dd>                        
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>电子邮箱</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>备 注</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
                <dl>
                    <dt>是否启用</dt>
                    <dd>
                        <label></label>
                    </dd>
                </dl>
            </div>
            <!--/内容-->
            <!--工具栏-->
            <div class="page-footer">
                <div class="btn-wrap">
                    <input type="button" name="btnReturn" id="btnReturn" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);"/>
                </div>
            </div>
            <!--/工具栏-->
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/Admin/js/layoutMain")
    <script type="text/javascript">        
        /* document.ready */
        $(function () {
            
        });        
    </script>
</body>
</html>
