@model List<Ys.Model.Model.Recruit.ResumeModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>我收藏的简历</title>
    @Styles.Render("~/Areas/Recruiting/User/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/User/Content/js/common")
    @Styles.Render("~/artdialog/css")
    @Scripts.Render("~/artdialog/js")
    <script src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>
</head>
<body>
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="@Url.Action("Desk", "Home")" class="home"><i></i><span>管理首页</span></a>
            <i class="arrow"></i><span>我收藏的简历</span>
            <i class="arrow"></i><span>简历列表</span>
        </div>
        <!--/导航栏-->
        <div class="reslut-wrap">
            <!--搜索栏-->
            <div class="search-wrap">
                <div class="search-content">
                    @using (Html.BeginForm("Outbox", null, FormMethod.Post, new { @id = "searchForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <table class="search-tab">
                            <tbody>
@*                                <tr>
                                    <th style="vertical-align: text-top;">收藏时间：</th>
                                    <td>
                                        <input type="text" name="txtTimeStart" id="txtTimeStart" class="input Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',position:{left:20, top:10}})" placeholder="请输入起始时间" />
                                        至
                                        <input type="text" name="txtTimeEnd" id="txtTimeEnd" class="input Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',position:{left:20, top:10}})" placeholder="请输入截止时间" />
                                    </td>
                                </tr>*@
                                <tr>
                                    <th>关键字：</th>
                                    <td>
                                        <input type="text" name="txtKeywords" id="txtKeywords" class="input normal" style="width: 426px;" placeholder="请输入关键字" />
                                    </td>
                                    <td rowspan="2">
                                        <input type="submit" class="btn" name="btnSaerch" id="btnSaerch" value="查 询">
                                        <a class="btn yellow" href="@Url.Action("Outbox")" id="btnClear">清 空</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!--搜索栏-->
            <!--工具栏-->
            <div id="floatHead" class="toolbar-wrap">
                <div class="toolbar">
                    <div class="box-wrap">
                        <a class="menu-btn"></a>
                        <div class="l-list">
                            <ul class="act-list">
                                <li>
                                    <a class="all" href="javascript:void(0);" onclick="checkAll(this);">
                                        <i></i><span>全选</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnDelete" class="del" href="javascript:void(0);" onclick="return ExePostBack('btnDelete');">
                                        <i></i><span>删除</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/工具栏-->
            <!--列表-->
            <div class="table-container">
                <table class="ltable">
                    <thead>
                        <tr>
                            <th style="width: 5%;">选择
                            </th>
                            <th style="width: 5%;">序号
                            </th>
                            <th style="width: 20%;">简历名称
                            </th>
                            <th style="width: 10%;">求职者
                            </th>
                            <th style="width: 5%;">性别
                            </th>
                            @*<th style="width: 5%;">年龄
                            </th>*@
                            <th style="width: 15%;">专业
                            </th>
                            <th style="width: 10%;">收藏时间
                            </th>
                            <th>操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="itemContainer">

                        @foreach (var resume in Model)
                        { <tr>
                                <td>
                                    <input type="checkbox" name="chkSingle" id="chkSingle" class="checkall" value='' runat="server" title="选择" />
                                </td>
                                <td>1</td>
                                <td>
                                    <a href="@Url.Action("Details", "Resume", new { id = resume.Id, area = "Recruiting/User" })" target="_blank" class="link" title="简历名称">
                                        <span class="icon icon-pages"></span>@resume.Name
                                    </a>
                                </td>

                                <td>@if (resume.PersonalModel != null)
                                    {
                                    <text>@resume.PersonalModel.Person_Name</text>
                                    }
                                </td>
                                <td>@if (resume.PersonalModel != null)
                                    {
                                    <text>@resume.PersonalModel.Person_Sex</text>
                                    }
                                </td>
                                @*<td>@if (resume.PersonalModel != null)
                                    {
                                    @(DateTime.Now.Year - resume.PersonalModel.Person_Birthday.Year)
                                    }
                                </td>*@
                                <td>@if (resume.PersonalModel != null)
                                    {
                                    <text>@resume.PersonalModel.Specialty.SpecialtyName</text>
                                    }
                                </td>

                                <td>@resume.LastModifyTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td class="nowrap">
                                    @*<a href="javascript: f_onAddInterviewLetter();" class="act" title="发送面试邀约" data-index="i">发送面试邀约</a>*@
                                    <a title="删除" class="btn-delete" href="javascript: ExeNoCheckPostBack('@Url.Action("Delete", new { id = resume.Id })');">
                                        <span class="icon icon-trash"></span>删除
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!--/列表-->
            <!--内容底部-->
            <div class="ht_10"></div>
            <div class="pagelist">
                <div class="l-btns">
                    <span>显示 </span>
                    <label id="lblPageSize">10</label><span> 条/页</span>
                </div>
                <div id="PageContent" class="default">
                </div>
            </div>
            <!--/内容底部-->
        </div>
    </div>
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/User/js/layoutMain")
    <script type="text/javascript">
        /*创建面试时间窗口*/
        function f_onAddInterviewLetter() {
            var d = dialog({
                title: '新建一个面试邀约，将发送给求职者',
                content: '@Html.Raw(Html.Partial("Dialog").ToHtmlString().Replace("\r\n", ""))',
                width: "600px",
                okValue: '确定',
                ok: function () {
                    this.title('提交中…');
                    var postId = $(".btnSend").parent().parent().find("#postId").val();
                    // alert($("#txtInterviewTime").text());
                    var contentData = { "PostId": postId, "InterviewTime": $("#txtInterviewTime").val(), "Remark": $("Remark").val() };
                    /*ajax 提交到确认订单*/
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create", "Interview")',
                        dataType: 'json',
                        data: contentData,
                        success: function (data, textStatus) {
                            var sucDialog = dialog({
                                title: "对话框将在3秒内关闭...",
                                content: "面试邀约创建成功，将发送给求职者！"
                            });
                            sucDialog.show();
                            setTimeout(function () {
                                sucDialog.close().remove();
                            }, 3000);
                        },
                        error: function (msg, testStatus) {
                            alert(JSON.stringify(msg));
                        }
                    });
                },
                cancelValue: '取消',
                cancel: function () { },
                onshow: function () {
                    $(".tab-content").find("dd").eq(0).text($(".btnSend").parent().parent().find("td").eq(1).text());
                    $(".tab-content").find("dd").eq(1).text($(".btnSend").parent().parent().find("td").eq(3).text());
                }
            });
            d.show();
        }
    </script>
</body>
</html>
