@model Ys.Model.Model.Home.Message

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>写消息</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span><span>我的站内消息</span>
                <span class="crumb-step">&gt;</span><span>写消息</span>
            </div>
        </div>
        <!--导航栏-->
        <div class="result-wrap">
            <div class="search-wrap">
                <div class="search-content">
                    <p class="gray-999">
                        <span class="icon icon-info"></span>【系统消息】表示由管理员群发给所有用户的消息信件；【私信消息】表示由您发送给您选择的一个或多个收件人的消息信件。
                        您可以选择收件人，多个收件人之间以英文分号 " ; " 分隔开
                    </p>
                </div>
            </div>
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @id = "form1" }))
            {
                @Html.AntiForgeryToken()
                <!--内容-->
                <div id="floatHead" class="content-tab-wrap">
                    <div class="content-tab">
                        <div class="content-tab-ul-wrap">
                            <ul>
                                <li><a class="selected" href="javascript:void(0);">写消息</a></li>
                            </ul>
                        </div>
                    </div>
                </div>            
                <div class="tab-content" style="position: relative;">
                    <dl>
                        <dt>消息类型</dt>
                        <dd>
                            <div class="rule-multi-radio">
                                @Html.RadioButtonFor(m => m.MessageTypeId, 1, new { id = "listType_0", @checked="checked" })<label for="listType_0">系统消息</label>
                                @Html.RadioButtonFor(m => m.MessageTypeId, 2, new { id = "listType_1" })<label for="listType_1">私信消息</label>
                            </div>
                            <input type="hidden" name="hidType" id="hidType" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>收 件 人</dt>
                        <dd>
                            <div id="MessageTypeUsers1">
                                <label>系统消息收件人为所有用户</label>
                            </div>
                            <div id="MessageTypeUsers2" style="display: none;">
                                <p><label class="act" href="javascript: void(0);" onclick="f_onShowUsersDialog();">添加收件人...</label></p>   
                                <p class="ht_5"></p>                             
                                <p>
                                    @Html.TextAreaFor(m => m.ReceiveString, new { id = "txtReceivers", rows = "4", cols = "20", @class = "input normal", datatype = "*", sucmsg = " ", nullmsg = "请填写收件人用户名" })
                                    <span class="Validform_checktip"></span>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>主 题</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Title, new { id = "txtUserName", @class = "input normal" })
                            @*<input type="text" name="txtSubjectName" id="txtUserName" class="input normal"/>*@
                        </dd>
                    </dl>
                    <dl>
                        <dt>内 容</dt>
                        <dd>
                            @Html.TextAreaFor(m => m.Content, new { rows = "5", cols = "20", id = "txtContent", @class = "input normal", style = "width: 80%; height: 192px;" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>发 件 人</dt>
                        <dd>
                            <label id="lblSendUser"></label>
                        </dd>
                    </dl>
                </div>
                <!--/内容-->
                <!--工具栏-->
                <div class="page-footer">
                    <div class="btn-wrap">
                        <input type="submit" name="btnSubmit" id="btnSubmit" value="提交保存" class="btn" />
                        <input type="button" name="btnReturn" id="btnReturn" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
                        <input type="hidden" name="hiddenId" id="hiddenId" Value="@ViewData["Id"]" />
                    </div>
                </div>
                <!--/工具栏-->
            }
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/Admin/js/layoutMain")
    @Scripts.Render("~/ueditor/js")
    <script type="text/javascript">
        /* 实例化编辑器 */
        var contentUE = UE.getEditor('txtContent');
        var receiverInput = $("#txtReceivers");
        var flagTypeRadio = $("input[type='radio'][name='MessageTypeId']");

        /* document.ready */
        $(function () {
            /*初始化表单验证*/
            $("#form1").initValidform();
            
            flagTypeRadio.each(function () {
                $(this).on("click", function () {
                    var value =$(this).val();
                    if (value == "1") {
                        $("#MessageTypeUsers1").show();
                        $("#MessageTypeUsers2").hide();
                        @if(ViewBag.UserList!=null){
                            foreach (var user in ViewBag.UserList as List<Ys.Model.Model.Home.User>)
                            {
                                <text>f_onFulfillReceiver('@user.LoginName');</text>
                            }
                        }
                    } else {
                        $("#MessageTypeUsers1").hide();
                        $("#MessageTypeUsers2").show();
                    }
                    f_onTypeChange(value);
                });
            });
            if (flagTypeRadio.val() == "1") {
                $(flagTypeRadio[0]).trigger("click");
                f_onTypeChange("1");
            }
        });

        //
        function f_onTypeChange(flagType) {
            if (flagType == "1") {
                if (receiverInput.attr("readonly") != true) {
                    receiverInput.attr("readonly", "readonly");
                }
            } else {
                receiverInput.val("");
                if (receiverInput.attr("readonly")) {
                    receiverInput.removeAttr("readonly");
                }
            }
        }
        
        /* 添加收件人用户方法 */
        function f_onFulfillReceiver(name) {
            var receiverInput = $("#txtReceivers");
            var names = receiverInput.val();
            if (name) {
                if (names.indexOf(name+";") > -1) {
                    return;
                } else {
                    names += name + "; ";
                    receiverInput.removeClass("Validform_error");
                    receiverInput.next().removeClass("Validform_wrong").addClass("Validform_right").text("");
                }
            }
            receiverInput.val(names);
        }
            
        /*创建添加窗口*/
        function f_onShowUsersDialog(obj) {
                var objNum = arguments.length;
                var d = top.dialog({
                    id: 'dialogUsers' + new Date().getMilliseconds(),
                    title: "选择收件人",
                    url: '@Url.Action("Dialog_Users", "User")',
                    width: '800px',
                    height: '400px',
                    okValue: '确定',
                    ok: function () {
                        var iframe = window.parent.document.getElementsByName(this.id)[0];
                        var rows = $(iframe).contents().find("#itemContainer>tr");
                        $(rows).each(function () {
                            var checkbox = $(this).find("input[type='checkbox']");
                            if (checkbox && checkbox.prop("checked")) {
                                var type = $.trim($(this).children("td:eq(2)").text());
                                var name =  $.trim($(this).children("td:eq(3)").text());
                                f_onFulfillReceiver(name);

                            }
                        });                        
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                }).showModal();
                /*检查是否修改状态*/
                if (objNum == 1) {
                    d.data = obj;  /*给窗体传入对象*/
                }
            }
    </script>
</body>
</html>
