@model Ys.Model.Model.Home.User

@{
    ViewBag.Title = "修改密码"; 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>修改密码</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span><span>修改密码</span>
            </div>
        </div>
        <!--导航栏-->
        <div class="result-wrap">
            @using (Html.BeginForm("ChangePassword", null, FormMethod.Post, new { @id="form1"}))
            {
                @Html.AntiForgeryToken()
                <!--内容-->
                <div id="floatHead" class="content-tab-wrap">
                    <div class="content-tab">
                        <div class="content-tab-ul-wrap">
                            <ul>
                                <li><a class="selected" href="javascript:void(0);">修改密码</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">                
                    <dl>
                        <dt>原密码</dt>
                        <dd>
                            <input type="password" name="txtPassword" id="txtPassword" class="input normal" placeholder="原密码" datatype="*4-50" nullmsg="请输入原密码" sucmsg=""/>
                            <span class="Validform_checktip">*</span>
                        </dd>
                    </dl>            
                    <dl>
                        <dt>新密码</dt>
                        <dd>
                            <input type="password" name="txtNewPassword" id="txtNewPassword" class="input normal" placeholder="新密码" datatype="*4-50" nullmsg="请输入新密码" sucmsg=""/>
                            <span class="Validform_checktip">*</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>确认新密码</dt>
                        <dd>
                            <input type="password" name="txtConfirmNewPassword" id="txtConfirmNewPassword" class="input normal" placeholder="再次输入新密码" datatype="*4-50" nullmsg="请再次输入新密码" sucmsg=""/>
                            <span class="Validform_checktip">*</span>
                        </dd>
                    </dl>
                </div>
                <!--/内容-->
                <!--工具栏-->
                <div class="page-footer">
                    <div class="btn-wrap">
                        <input type="submit" name="btnSubmit" id="btnSubmit" value="提交保存" class="btn" />                      
                        <input type="button" name="btnReturn" id="btnReturn" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);"/>
                        <input type="hidden" name="hiddenId" id="hiddenId" Value="@Session["admin"]" />
                    </div>
                </div>
                <!--/工具栏-->
             }
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/Admin/js/layoutMain")
    @Scripts.Render("~/ueditor/js")
    <script type="text/javascript">        
        /* document.ready */
        $(function () {
            /*初始化表单验证*/
            $("#form1").initValidform();

            $("#btnSubmit").on("click", function () {
                var newPass = $("#txtNewPassword").val();
                var confirmNewPass = $("#txtConfirmNewPassword").val();
                if (newPass && confirmNewPass && newPass != confirmNewPass) {
                    var d = parent.dialog({
                        title: "消息中心",
                        content: "两次密码输入不一致！",
                        okValue: '确定',
                        ok: function () { }
                    }).show();
                    return false;
                } else
                    return true;
            });

            /*编辑成功提示*/
            var userName = '@ViewData["userName"]';
            if (userName) {
                var d = parent.dialog({
                    title: "消息中心",
                    content: "用户 " + userName + " 密码修改成功！",
                    okValue: '确定',
                    ok: function () { },
                    statusbar: "<p style='color: #999'>（对话框将在3秒后关闭）</p>"
                }).show();
                setTimeout(function () {
                    d.close().remove();
                }, 3000);
            }

        });
    </script>
</body>
</html>
