@model employment_bureau.Models.HomeIndexModel

@Scripts.Render("~/bundles/slideBox_script")
@Scripts.Render("~/bundles/homeindexscript")
<div class="wrap clearfix">
    <div class="main clearfix">
        <div class="content clearfix">
            <div class="announce">
                <div class="an-tit">
                    <img src="~/img/icon/annouce.png" /><span>最新公告</span>
                </div>
                <div class="an-date">
                    <span>@DateTime.Now.ToString("yyyy.MM.dd")</span>
                    <span>@ViewBag.Week</span>
                </div>
            </div>
            <a class="syslink t" href="@Url.Action("Login", "College")" target="_blank">
                <img src="~/img/icon/collegeSysIcon.png" />2018大学实习报名</a>
            <div class="announce-cont">
                <h2>
                    @foreach (var notice in Model.Notice)
                    {
                        <a href="@Url.Action("News_Detail", "Home", new { Id = notice.Id })" title="@notice.Title" target="_blank">@notice.Title</a>
                        break;
                    }
                </h2>
                @{int a = 0;}
                @foreach (var notice in Model.Notice)
                {

                    if (a > 0 && a <= 3)
                    {
                        <span class="span-l"><text>【</text></span><a class="announce-cont-sub" href="@Url.Action("News_Detail", "Home", new { Id = notice.Id })" title="@notice.Title  -  @notice.Time.ToShortDateString()" target="_blank">@notice.Title</a><span class="span-r"><text>】</text></span>
                    }
                    if (a > 3) { break; }
                    a++;
                }
            </div>
        </div><!--content end-->
        <div class="content clearfix">
            <div class="slideContainer float-left">
                <div id="slideBox" class="slideBox">
                    <ul class="items">
          
                        @foreach (var imgArtcle in Model.ImgArtcle)
                        {
                                <li>
                                    <a href="@Url.Action("News_Detail", "Home", new { Id = imgArtcle.Id })" target="_blank" title='@imgArtcle.Title'>
                                        <img src="@imgArtcle.Thumbnail">
                                    </a>
                                </li>     
                        }
                    </ul>
                </div>
            </div>
            <!-- slideContainer end-->
            <div class="article-mod article-mod-pub">
                <div class="article-mod-t t-underline clearfix">
                    <div class=""></div>
                    <h3><a href="@Url.Action("News_Page")">&nbsp;公示公告&nbsp;</a></h3><h4 class="t-pub"><a href="@Url.Action("News_Page")"><em>P</em>ublic Proclamation</a></h4>
                </div>
                <div class="article-list">
                    <ul>
  
                        @foreach (var notice in Model.Notice)
                        {
           
                            <li><a href="@Url.Action("News_Detail", "Home", new { Id = notice.Id })" target="_blank" title="@notice.Title">@notice.Title</a><span>[@notice.Time.ToShortDateString()]</span></li>
     
                        }
                    </ul>
                </div>
            </div><!--article-mod end-->
        </div><!--content end-->
        <div class="content clearfix">
            <div class="shortcut float-left">
                <img src="~/img/icon/shortcutlogo.png" />
                <ul class="li-float">
                    <li class="shortcuticon shortcuticon-download"><a class="downloadM_btn" id="downloadM_btn" href="@Url.Action("Material_Download", "Home")" target="_blank">资料下载</a></li>
                    <li class="shortcuticon shortcuticon-jysy"><a class="syjy" href="@Url.Action("Guidance", "Home", new { id = "jysy" })" title="就业失业登记" target="_blank">就业失业登记</a></li>
                    <li class="shortcuticon shortcuticon-zyjs"><a class="jyfc" href="@Url.Action("Guidance", "Home", new { id = "zyjs" })" title="就业扶持" target="_blank">就业扶持</a></li>
                    <li class="shortcuticon shortcuticon-btbl"><a class="btbl" href="@Url.Action("Guidance", "Home", new { id = "btbl" })" title="补贴办理" target="_blank">补贴办理</a></li>
                    <li class="shortcuticon shortcuticon-cyfw"><a class="cyfw" href="@Url.Action("Guidance", "Home", new { id = "cyfw" })" title="创业服务" target="_blank">创业服务</a></li>
                    <li class="shortcuticon shortcuticon-jypx"><a class="jypx" href="@Url.Action("Guidance", "Home", new { id = "jypx" })" title="就业培训" target="_blank">就业培训</a></li>
                    <li class="shortcuticon shortcuticon-sybx"><a class="sybx" href="@Url.Action("Guidance", "Home", new { id = "sybx" })" title="失业保险" target="_blank">失业保险</a></li>
                </ul>
            </div>
            @*<a class="syslink collegeSyslink" href="@Url.Action("Login", "College")" target="_blank">大学实习报名</a>*@
            <a class="syslink recuitinglink" href="@Url.Action("Index", "Recruiting")" target="_blank">求职招聘系统<div></div></a>
        </div><!--content end-->
        <div class="content clearfix">
            <div class="article-mod article-mod-newsph">
                <div class="article-mod-t t-topline clearfix">
                    <h3>&nbsp;图片新闻&nbsp;</h3><h4 class="t-newsph"><em>N</em>ewsphoto</h4>
                </div>
                <div class="article-list article-list-newsphoto">
                    <ul>

                            @foreach (var article in Model.ImgArtcle)
                            {
                                
                                <li>
                                    <a href="@Url.Action("News_Detail", "Home", new { Id = article.Id })" target="_blank" title="@article.Title">@article.Title</a><span>[@article.Time.ToShortDateString()]</span><a href="@Url.Action("News_Detail", "Home", new { id = article.Id })" title="@article.Title" target="_blank">
                                        <img src="@article.Thumbnail" />
                                    </a>
                                </li>

                            }
                        
                    </ul>

                </div>
            </div>
            <div class="article-mod article-mod-lasted">
                <div class="article-mod-t t-topline clearfix">
                    <h3>&nbsp;最新资讯&nbsp;</h3><h4 class="t-lasted"><em>L</em>asted News</h4>
                </div>

                <div class="article-list article-list-lastednews">
                    <ul>
  
                        @foreach (var newInfo in Model.News)
                        {
  
                            <li><a href="@Url.Action("News_Detail", "Home", new { Id = newInfo.Id })" target="_blank" title="@newInfo.Title">@newInfo.Title</a><span>[@newInfo.Time.ToShortDateString()]</span></li>
                        }
                    </ul>
                </div>
            </div><!--article-mod end-->
        </div>
        <!--content end-->
    </div>
    <!--main end-->
</div>
<!--wrap end-->
<script type="text/javascript">
    pageFlag = "index";
    $(document).ready(function (e) {

        $("#btnSearchJob").click(function () {
            //window.location.href = '@Url.Action("Jobs", "Recruiting")' + '?txtKeyword=' + $("#kwJob").val();
            if ($("#kwJob").val().trim() != "")
                window.open('@Url.Action("Jobs", "Recruiting")' + '?txtKeyword=' + $("#kwJob").val());
        });
        $("#btnSearchEmployer").click(function () {
            window.location.href = '@Url.Action("Companies", "Recruiting")' + '?txtKeyword=' + $("#kwEmployer").val();

        });
        $('#slideBox').slideBox({
            duration: 0.3,//滚动持续时间，单位：秒
            easing: 'swing',//swing,linear//滚动特效
            delay: 3,//滚动延迟时间，单位：秒
            clickBarRadius: 10,
            hideClickBar: false,//不自动隐藏点选按键
            width: 450,
            height: 310
        });


        /*初始化Tab事件*/
        initContentTab();
        var jobsTypesList = $(".jobs-by-type").find(".content-tab ul li");
        var mHeight = 0;
        $(jobsTypesList).each(function () {
            mHeight += $(this).height();
        });
        $(".jobs-by-type").find(".content-tab").height(mHeight);
        $(".jobs-by-type").find(".content-tab ul li a").eq(0).trigger("click");
    });

    /*初始化Tab事件*/
    function initContentTab() {
        var parentObj = $(".content-tab");
        $(parentObj).each(function () {
            var tabContentObj = $(this).parent().parent().find(".tab-content");
            var tabObj = $('<div class="tab-title"><span>' + $(this).find("ul li a.selected").text() + '</span><i></i></div>');
            $(this).children().children("ul").before(tabObj);
            var tabLinks = $(this).find("ul li a");
            $(tabLinks).each(function (i, item) {
                var eventStr = $(this).hasClass("triclick") ? "click" : "mouseover click";
                $(this).on(eventStr, function () {
                    //设置点击后的切换样式
                    $(this).parent().parent().find("li a").removeClass("selected");
                    $(this).addClass("selected");
                    tabObj.children("span").text($(this).text());
                    //根据参数决定显示内容
                    tabContentObj.hide();
                    tabContentObj.eq(i).show();
                });
            });

        });

    }
</script>
