@model List<Ys.Model.Model.Home.Article>
@{Model.Reverse();}
<div class="current-position">
    <img src="~/img/icon/position.png" /><div class="subpage-nav"><span><a href="@Url.Action("Index")">首页</a></span>&nbsp;>&nbsp;<span><a href="@Url.Action("Lesgislation")">政策法规</a></span>&nbsp;>&nbsp;<span>@Model[0].Title</span></div>
</div>
<div class="wrap clearfix">
    <article class="article-entity">
        <div class="article-title">
            <h2>@Model[0].Title</h2>
            <div class="sub-title">@Model[0].SubTitle</div>
            <span class="news-date">更新时间：@Model[0].Time.ToShortDateString()</span><span class="news-author">作者：@(Model[0].Author == null ? "夷陵信息就业网" : Model[0].Author)</span>@*<span>字号：<a href="javascript:big_c()">[大]</a> <a href="javascript:mid_c()">[中]</a> <a href="javascript:sm_c()">[小]</a></span>*@
        </div>

        <div class="article-container">
            <div class="news-text">
                @Html.Raw(Model[0].Content)
            </div>
        </div>
        <div class="articleTool clearfix">          
            <menu class="float-left">
                <h3>相关政策</h3>
                <ul>

                    @{
                        int i = 0;
                        foreach (var news in Model.OrderByDescending(m => m.Time).ToList())
                        {
                            if (news.Id == Model[0].Id)
                            {
                                continue;
                            }
                            <li class="clearfix"><a href="@Url.Action("Lesgislation_Detail", new { id = news.Id })" title="@news.Title" target="_blank">@news.Title</a></li>

                            if (i == 4)
                            {
                                break;
                            }
                            i++;
                        }
                    }
                </ul>
            </menu>
        </div>
    </article>
</div>
  
<script type="text/javascript">
    pageFlag = "news";
    function big_c() {
        $('.news-text *').css('fontSize', '22px');
    }
    function mid_c() {
        $('.news-text *').css('fontSize', '18px');
    }
    function sm_c() {
        $('.news-text *').css('fontSize', '14px');
    }
</script>