@model List<Ys.Model.Model.Home.ArticleType>

@{
    ViewBag.Title = "栏目分类列表";    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>栏目分类列表</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("栏目分类管理", "Index")
                <span class="crumb-step">&gt;</span><span>栏目分类列表</span>
            </div>
        </div>
        <!--导航栏-->
        <!--内容-->
        <div class="result-wrap">            
            <div id="floatHead" class="toolbar-wrap">
                <div class="toolbar">
                    <div class="box-wrap">
                        <a class="menu-btn"></a>
                        <div class="l-list">
                            <ul class="act-list">
                                <li>
                                    <a class="add" href="@Url.Action("Edit")">
                                        <i></i><span>新增</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="all" href="javascript:void(0);" onclick="checkAll(this);">
                                        <i></i><span>全选</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnDelete" class="del" href="javascript:void(0);" onclick="return ExePostBack('btnDelete');">
                                        <i></i><span>删除</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="r-list">
                            @using (Html.BeginForm("Index", null, FormMethod.Post, new { @id = "form1" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="text" name="txtKeywords" id="txtKeywords" class="keyword" value="@ViewData["Keywords"]" />
                                <input type="submit" name="btnSearch" id="btnSearch" class="btn-search" value="查询" />
                                @Html.ActionLink("清空", "Index", null, new { @id = "btnClear", @class = "btn-clear" })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--/工具栏-->
            <!--列表-->
            <div class="table-container">
                <table class="ltable">
                    <thead>
                        <tr>
                            <th style="width: 5%">选择
                            </th>
                            <th style="width: 5%">序号
                            </th>
                            <th style="width: 15%">上级分类
                            </th>
                            <th style="width: 20%">分类名称
                            </th>
                            <th style="width: 20%">备注
                            </th>
                            <th style="width: 10%">是否启用
                            </th>
                            <th>操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="itemContainer">
                        @foreach (var articleType in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="chkSingle" id="chkSingle" class="checkall" value='' runat="server" title="选择" />
                                </td>
                                <td>
                                    @(Model.IndexOf(articleType)+1)    
                                </td>
                                <td>上级分类
                                </td>
                                <td>
                                    @Html.ActionLink(articleType.TypeName, "Edit/" + articleType.Id, null, new { @title = articleType.TypeName })
                                </td>
                                <td>夷陵就业信息网      
                                </td>
                                @if (articleType.State == 1)
                                { <td>是</td>
                                }
                                else
                                { <td>否</td>
                                }
                                <td class="nowrap">
                                    @Html.ActionLink("编辑", "Edit/" + articleType.Id, null, new { @title = "编辑" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    @{if(Model.Count==0){
                        <tfoot>
                            <tr>
                                <td colspan='7'>暂无记录</td>
                            </tr>
                        </tfoot>
                        }
                    }
                </table>
            </div>
            <!--/列表-->
            <!--内容底部-->
            <div class="ht_10">
            </div>
            <div class="pagelist">
                <div class="l-btns">
                    <span>显示 </span>
                    <label id="lblPageSize"></label>
                    <span>条/页</span>
                </div>
                <div id="PageContent" runat="server" class="default">
                    <span>共 <label>@Model.Count</label> 条记录</span>
                </div>
            </div>
            <!--/内容底部-->
        </div>
    </div>
    <!--/main-->
</body>
</html>
