@model PagedList<Ys.Model.Model.Recruit.InterviewModel>

@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "面试房间列表";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>面试房间列表</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("面试房间管理", "Index")
                <span class="crumb-step">&gt;</span><span>面试列表</span>
            </div>
        </div>
        <!--导航栏-->
        <!--内容-->
        <div class="result-wrap">
            <div id="floatHead" class="toolbar-wrap">
@*               <div class="toolbar">
                    <div class="box-wrap">
                        <a class="menu-btn"></a>
                        <div class="l-list">
                            <ul class="act-list">
                                <li>
                                    <a class="all" href="javascript:void(0);" onclick="checkAll(this);">
                                        <i></i><span>全选</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnDelete" class="del" href="javascript: void(0);" onclick="return ExePostBack('@Url.Action("BulkDelete")')">
                                        <i></i><span>批量删除</span>
                                    </a>
                                    <input type="hidden" name="hidBulkIds" id="hidBulkIds" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
            <!--/工具栏-->
            <!--列表-->
            <div class="table-container">
                <table class="ltable">
                    <thead>
                        <tr>
                            @*<th style="width: 5%;">选择
                            </th>*@
                            <th style="width: 5%;">房间编号
                            </th>
                            <th style="width: 15%;">招聘公司</th>
                            <th style="width: 15%;">职位</th>
                            <th style="width: 10%;">求职者</th>
                            <th style="width: 15%;">简历名称
                            </th>
                            <th>面试时间
                            </th>
                            <th>状态
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="itemContainer">
                        @{
                            foreach (var interview in Model)
                            {
                            <tr>
                                @*<td>
                                    <input type="checkbox" name="chkSingle" class="checkall" value='id' title="选择" />
                                </td>*@
                                <td>
                                    @(Model.IndexOf(interview) + 1)

                                </td>
                                <td>
                                    @interview.ResumePost.Job.Employer.Name
                                </td>
                                <td>
                                    @interview.ResumePost.Job.JobName
                                </td>
                                <td>求职者
                                </td>
                                <td>简历名称
                                </td>
                                @{
                                TimeSpan ts = interview.InterviewTime - DateTime.Now;
                                }
                                @if (ts.Seconds > 0)
                                {
                                    <td>
                                        <p>@interview.InterviewTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                        <p class="ui-ok countClock">
                                            <span>还剩 </span>
                                            <span class="day">00</span><span> 天 </span>
								            <span class="hour">00</span><span> 小时 </span>
								            <span class="minute">00</span><span> 分 </span>
								            <span class="second">00</span><span> 秒 </span>
                                        </p>
                                    </td>
                                    <td>未开启
                                    </td>
                                    <td class="enterRoomBtn">
                                    <a  href="@Url.Action("OnlineInterview", new { id = interview.Id })" target="right" title="进入房间"><span class="icon icon-check"></span>进入房间</a>
                                </td>
                                 
                                }
                                else if (ts.Hours == 0)
                                {
                                    <td>
                                        <label class="ui-ok">-</label>
                                    </td>
                                    <td>
                                        <label class="ui-ok">已开启</label>
                                    </td>
                                    <td class="nowrap">
                                    <a href="@Url.Action("OnlineInterview", new { id = interview.Id })" target="right" title="进入房间"><span class="icon icon-check"></span>进入房间</a>
                                </td>
                                  
                                }
                                else if (ts.Hours < 0)
                            {
                                <td>-</td>
                                <td>
                                    <label class="ui-error">房间已过期</label>
                                </td>
                                <td>
                                    
                                </td>
                            }
                            </tr>
                            }                        
                        }
                    </tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <td colspan='9'>暂无记录</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--/列表-->
            <!--内容底部-->
            <div class="ht_10">
            </div>
            <div class="pagelist">
                @*<div class="l-btns">
                    <span>显示 </span>
                    <label id="lblPageSize"></label>
                    <span>条/页</span>
                </div>*@
                <div id="PageContent" runat="server" class="default">
                </div>
            </div>
            <!--/内容底部-->
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    <script type="text/javascript">

            var rows = $("#itemContainer>tr");
            $(rows).each(function () {
                var timeCell = $(this).find("td:eq(5)");
                var stateCell = $(this).find("td:eq(6)");
                var maintainCell = $(this).find("td:eq(7)");
                var timer = setInterval(function () {
                    var interviewTime = new Date($(timeCell).children("p:eq(0)").text());
                    var now = new Date();
                    var time_distance = interviewTime - now;
                    if (time_distance > 0) {
                        // 天
                        var int_day = Math.floor(time_distance / 86400000)
                        time_distance -= int_day * 86400000;
                        // 时
                        var int_hour = Math.floor(time_distance / 3600000)
                        time_distance -= int_hour * 3600000;
                        // 分
                        var int_minute = Math.floor(time_distance / 60000)
                        time_distance -= int_minute * 60000;
                        // 秒 
                        var int_second = Math.floor(time_distance / 1000)
                        // 时分秒为单数时、前面加零 
                        if (int_day < 10) {
                            int_day = "0" + int_day;
                        }
                        if (int_hour < 10) {
                            int_hour = "0" + int_hour;
                        }
                        if (int_minute < 10) {
                            int_minute = "0" + int_minute;
                        }
                        if (int_second < 10) {
                            int_second = "0" + int_second;
                        }
                        $(timeCell).find(".day").text(int_day);
                        $(timeCell).find(".hour").text(int_hour);
                        $(timeCell).find(".minute").text(int_minute);
                        $(timeCell).find(".second").text(int_second);
                        if (int_day == 0 && int_hour == 0 && int_minute && int_second == 0) {
                            $(timeCell).html("");
                            $(stateCell).html('<label class="ui-ok">已开启</label>');
                            $(maintainCell).find("a").show();
                        }
                    } else {
                    }
                }, 1000);
            });
    </script>
</body>
</html>
