@model Ys.Model.Model.Recruit.InterviewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>在线面试</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
    <script src="~/Areas/Recruiting/Admin/Scripts/anychatsdk.js"></script>
    <script src="~/Areas/Recruiting/Admin/Scripts/anychatobject.js"></script>
    <script src="~/Areas/Recruiting/Admin/Scripts/anychatevent.js"></script>
    <script src="~/Areas/Recruiting/Admin/Scripts/logicfunc.js"></script>
    <style type="text/css">
        #prompt_div {
            background-color: White;
            border: 1px solid black;
            width: 500px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 35%;
            display: none;
        }

        .close_div {
            height: 45px;
            width: 480px;
            margin: 0px 10px 0px 10px;
            border-bottom: 1px solid #CCCCCC;
        }

        #prompt_div_BR {
            border-top: 1px solid #CCCCCC;
            height: 45px;
            margin: 40px 10px 10px 10px;
            width: 480px;
            text-align: right;
        }

            #prompt_div_BR a {
                font-size: 12px;
                color: Blue;
            }

        #prompt_div_btn_load {
            width: 110px;
            height: 35px;
            line-height: 35px;
            color: White;
            border: 1px solid #915700;
            background-color: #ff8100;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }

        #prompt_div_line1 {
            height: 70px;
            line-height: 70px;
            font-size: 12px;
            color: #999999;
            text-align: center;
        }

        #prompt_div_line2 {
            height: 60px;
            line-height: 50px;
            color: #FF9900;
            font-size: 14px;
            font-weight: bolder;
        }

        #prompt_div_headline1 {
            font-size: 15px;
            width: 100px;
            height: 50px;
            line-height: 60px;
            text-align: center;
            float: left;
        }

        #prompt_div_headline2 {
            font-size: 12px;
            width: 38px;
            height: 50px;
            line-height: 60px;
            text-align: center;
            float: right;
            cursor: pointer;
        }
    </style>
</head>
<body>
        <div id="prompt_div">
        <div class="close_div">
            <div id="prompt_div_headline1">插件安装提示</div>
            <div id="prompt_div_headline2">刷新</div>
        </div>
        <div>
            <div id="prompt_div_line1"></div>
            <div id="prompt_div_line2">控件安装完成后，请重启浏览器</div>
            <div id="prompt_div_btn_load" onclick="window.open('http://anychat.oss-cn-hangzhou.aliyuncs.com/AnyChatWebSetup.exe')">下载安装</div>
        </div>
        <div style="height: 85px;">
            <div id="prompt_div_BR">
                <a href="http://www.anychat.cn/">AnyChat</a>&nbsp|&nbsp<a href="http://www.bairuitech.com/">佰锐科技</a>
            </div>
        </div>
    </div>


    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("面试列表", "Index", null, new { target = "right" })
                <span class="crumb-step">&gt;</span><span>正在进行的在线面试</span>
            </div>
        </div>
        <!--/导航栏-->
        <div class="result-wrap">
            <!--工具栏-->
            <div id="floatHead" class="toolbar-wrap">
                <div class="toolbar">
                    <table class="ltable">
                        <tbody>
                            <tr>
                                <td>
                                    <h3 class="ui-ok"><i class="icon icon-check"></i>正在进行在线面试...</h3>
                                </td>
                                @*<td>面试时长：<label>11:25:00</label>
                                </td>*@
                                <td>
                                在线视频需安装Anychat视频插件，无法显示视频，请<a href="http://anychat.oss-cn-hangzhou.aliyuncs.com/AnyChatWebSetup.exe" style="color:#2fc7cc">点击下载安装</a>
                                    并重新加载</td>
                                <td style="text-align: right;">
                                    <a class="btn violet" href="javascript:leaveRoom();"><span>退出房间</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/工具栏-->
            <!--内容-->
            <div class="div-content">
                <table class="ltable">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">
                                <div class="ember-wrap" id="AnyChatEmployerVideoDiv" style="height: 400px;">
                                    
                                </div>
                            </td>
                            <td style="width: 50%;">
                                <div class="ember-wrap" id="AnyChatPersonVideoDiv" style="height: 400px;">
                                  
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>企业：@Model.ResumePost.Job.Employer.Name</h4>
                            </td>
                            <td>应聘者：@Model.ResumePost.Resume.PersonalModel.Person_Name
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--公司信息、职位信息 tab-->
            <div class="content-tab-wrap">
                <div class="content-tab">
                    <div class="content-tab-ul-wrap">
                        <ul>
                            <li><a class="selected" href="javascript:void(0);">公司信息</a></li>
                            <li><a href="javascript:void(0);">职位信息</a></li>
                            <li><a href="javascript:void(0);">求职者简历</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="content-padded">
                    @Model.ResumePost.Job.Employer.Inroduce
                </div>
            </div>
            <div class="tab-content" style="display: none;">
                <dl class="clearfix">
                    <dt>招聘亮点：</dt>
                    <dd>
                        <div class="article-features">
                            <span class="item-salary">@Model.ResumePost.Job.PayLevel.Name</span>
                            @foreach (var sign in Model.ResumePost.Job.JobSign)
                            {
                                <span>@sign.Content</span>
                            }
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>职位详情：</dt>
                    <dd>
                        <div>
                            <p>
                                @Model.ResumePost.Job.Others
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="content-padded">
                    <dl>
                        <dt>简历名称：</dt>
                        <dd>
                            <a target="_blank" href="@Url.Action("Details", "Resume", new { id = Model.ResumePost.ResumeId, area = "Recruiting/User" })">@Model.ResumePost.Resume.Name</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <!--/内容-->
        </div>
    </div>
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/User/js/layoutMain")

    <script>
        $(function () {
            LogicInit();
            // alert(room);
            //  BRAC_UserSpeakControl(mSelfUserId, 0);
            //  BRAC_UserCameraControl(mSelfUserId, 1);
            //  BRAC_SetVideoPos(mSelfUserId, GetID("AnyChatLocalVideoDiv"), "ANYCHAT_VIDEO_LOCAL");
            window.onbeforeunload = function () {
                BRAC_LeaveRoom(-1);
                BRAC_Logout();
            };
        });
        function leaveRoom() {
            BRAC_LeaveRoom(-1);
            window.location.href = '@Url.Action("Index")'
        }
        function sendMeetingId() {
            BRAC_SendSDKFilterData(@Model.Id);
        }
        function Login() {
            BRAC_Login('@ViewBag.Name', "123", 0);

        }
    </script>
</body>


</html>
