@model Ys.Model.Model.Home.Article

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>内容编辑</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-i18n.min.js"></script>
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("内容管理", "Index")
                <span class="crumb-step">&gt;</span><span>内容编辑</span>
            </div>
        </div>
        <!--导航栏-->
        <div class="result-wrap">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @id = "form1" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <!--内容-->
                <div id="floatHead" class="content-tab-wrap">
                    <div class="content-tab">
                        <div class="content-tab-ul-wrap">
                            <ul>
                                <li><a class="selected" href="javascript:void(0);">基本信息</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <dl>
                        <dt>分 类</dt>
                        <dd>
                            <div class="rule-single-select">
                                @Html.DropDownListFor(m => m.ArticleType_Id, ViewBag.Categories as SelectList, "--请选择栏目分类--", new { id = "cateType", datatype = "*", nullmsg = "请选择栏目分类", sucmsg = " " })
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>标 题</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Title, new { id = "txtName", @class = "input normal", datatype = "*2-255", nullmsg = "请输入标题", sucmsg = " " })
                            <span class="Validform_checktip">*</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>副标题</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.SubTitle, new { id = "txtSubTitle", @class = "input normal" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>作 者</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Author, new { id = "txtAuthor", @class = "input normal" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>发布时间</dt>
                        <dd>
                            @if (@Model!=null)
                            { 
                                @Html.TextBoxFor(m => m.Time, new { Value = String.Format("{0:yyyy-MM-dd}", Model.Time), id="txtTime", @class = "input normal", placeholder = "" })
                            }else{
                                @Html.TextBoxFor(m => m.Time, new { @class = "input normal", id="txtTime", placeholder = "不填默认为当日" })
                            }
                        </dd>
                    </dl>

                    
                    <dl>
                        <dt>缩略图</dt>
                        <dd>
                            <input type="hidden" id="hidThumbnailUrl" name="hidThumbnailUrl" value="" />
                            @Html.TextBoxFor(m => m.Thumbnail, new { id = "thumbnailUrl", @class = "input normal fix_borderb" })
                            <a id="linkUpImage" class="act" onclick="upImage(); ">上传图片</a>
                            <div id="thumbnailPreview" style="display: none;">
                                <span class="clear preview">
                                    @if (Model != null)
                                    {
                                        <img alt="" id="thumbnailImage" src="@Model.Thumbnail" class="min-img" />
                                    }
                                    else
                                    {
                                        <img alt="" id="thumbnailImage" src="" class="min-img" />
                                    }
                                    <a href="javascript:void(0);" class="thumb_x" title="删除">x</a>

                                </span>
                            </div>
                            <script type="text/plain" id="upload_ue" style="display: none;"></script>
                        </dd>
                    </dl>
                    <dl>
                        <dt>缩略图顺序</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.thumbOrder, new { @class = "input normal", id="txtThumbOrder" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>主体内容</dt>
                        <dd>
                            @Html.HiddenFor(m => m.PreviewContent, new { id = "PreviewContent" })
                            @Html.TextAreaFor(m => m.Content, new { id = "txtContent", @class = "input normal", rows = "5", cols = "30", style = "width: 99%; height: 256px" })
                        </dd>
                    </dl>
                    <dl id="telNum" style="display: none;">
                        <dt>会员查看信息</dt>
                        <dd>
                            @Html.TextAreaFor(m => m.Tel, new { id = "txtContent", @class = "input normal", rows = "5", cols = "20" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>状 态</dt>
                        <dd>
                            <div class="rule-multi-radio">
                                @Html.RadioButtonFor(m => m.State, 0, new { id = "listEnable_False", @checked = "checked" })<label for="listEnable_False">存为草稿</label>
                                @Html.RadioButtonFor(m => m.State, 1, new { id = "listEnable_True" })<label for="listEnable_True">审核发布</label>
                            </div>
                        </dd>
                    </dl>
                </div>
                <!--/内容-->
                <!--工具栏-->
                <div class="page-footer">
                    <div class="btn-wrap">
                        <input type="submit" name="btnSubmit" id="btnSubmit" value="提交保存" class="btn" />
                        <input type="button" name="btnReturn" id="btnReturn" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
                        <input type="hidden" name="hiddenId" id="hiddenId" Value="@ViewData["Id"]" />
                    </div>
                </div>
                <!--/工具栏-->
            }
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/Admin/js/layoutMain")
    @Scripts.Render("~/ueditor/js")
    <script type="text/javascript">

        /* 声明几个上传变量 */
        var thumbnailUrl = $("#thumbnailUrl"); /* 缩略图地址文本对象 */
        var hidThumbnailUrl = $("#hidThumbnailUrl"); /* 缩略图地址隐藏域对象 */
        var thumbnailPreview = $("#thumbnailPreview"); /* 缩略图地址文本对象 */
        var thumbnailImage = $("#thumbnailImage"); /* 缩略图预览对象 */
        var thumbX = $(".thumb_x"); /* 缩略图被移除控件 */

        /* 实例化编辑器 */
        var options = { scaleEnabled: true };
        var space = $('#txtContent'); // ezj 内容
        options.initialFrameWidth = space.width();
        options.initialFrameHeight = space.height();
        var contentUE = UE.getEditor('txtContent', options);

        contentUE.addListener('contentChange', function (content) {
            $("#PreviewContent").val(contentUE.getContentTxt());
        });
        var uploadUE = UE.getEditor('upload_ue');
        uploadUE.ready(function () {
            uploadUE.setHide(); /* 隐藏编辑器 */
            /* 监听图片上 传*/
            uploadUE.addListener('beforeInsertImage', function (t, arg) {
                var src0 = arg[0].src; /* 只取第一张图片的路 */
                thumbnailUrl.val(src0); /* 将地址赋值给相应的 input, 只取第一张图片的路径 */
                hidThumbnailUrl.val(src0);
                thumbnailPreview.show();
                thumbnailImage.prop("src", src0); /* 图片预览 */
                thumbX.show();
            });

            /* 文件上传监听
            * 需要在ueditor.all.min.js文件中找到 d.execCommand("insertHtml",l); 之后插入d.fireEvent('afterUpfile',b)
            */
            uploadUE.addListener('afterUpfile', function (t, arg) {
                alert('这是文件地址：' + arg[0].url);
            });
        });

        /* 弹出图片上传的对话框 */
        function upImage() {
            var myImage = uploadUE.getDialog("insertimage");
            myImage.open();
        }

        /* 弹出文件上传的对话框 */
        function upFiles() {
            var myFiles = uploadUE.getDialog("attachment");
            myFiles.open();
        }

        /* 移除上传文件 */
        $('.thumb_x').on('click', function () {
            thumbnailImage.prop('src', '');
            thumbnailUrl.val('');
            hidThumbnailUrl.val('');
            $(this).hide();
            thumbnailPreview.hide();
        });

        /* document.ready */
        $(function () {
            /*初始化表单验证*/
            $("#form1").initValidform();

            var thumbnail = "";
            @if (Model != null)
            {
                <text>thumbnail = '@Model.Thumbnail';</text>
            }
            if (thumbnail) {
                thumbnailPreview.show();
            }
            if ($(".select-items li.selected").text() == "委托招聘") {
                $("#telNum").show();
            }
            $("#cateType").change(function () {
                if ($(this).val() == 10) {
                    $("#telNum").show();
                } else {
                    $("#telNum").hide();
                    $("#telNum input").val("");
                }
            });
        });
    </script>
</body>
</html>
