@model Ys.Model.Model.Recruit.JobFairMeeting

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>招聘会编辑</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shoucut icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Recruiting/Admin/Content/css/common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Areas/Recruiting/Admin/Content/js/common")
    <script type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>
</head>
<body>
    <!--main-->
    <div class="main-wrap clearfix">
        <!--导航栏-->
        <div class="crumb-wrap">
            <div class="crumb-list">
                <a href="javascript:window.parent.linkMenuTree(true, 'sysDefaultHome');"><i class="icon icon-home"></i>首页</a>
                <span class="crumb-step">&gt;</span>@Html.ActionLink("委托招聘管理", "Index")
                <span class="crumb-step">&gt;</span><span>招聘会编辑</span>
            </div>
        </div>
        <!--导航栏-->
        <div class="result-wrap" id="result-edit">
            @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @id = "form1" }))
            {
                @Html.AntiForgeryToken()
             
                <!--内容-->
                <div id="floatHeadEdit" class="content-tab-wrap">
                    <div class="content-tab">
                        <div class="content-tab-ul-wrap">
                            <ul>
                                <li><a class="selected" href="javascript:void(0);">招聘会信息</a></li>
                                <li><a href="javascript:void(0);">企业报名信息</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <dl>
                        <dd id="actiedResultCopy"></dd>
                    </dl>
                    <dl>
                        <dt>招聘会名称</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Name, new { id = "txtMeetingName", @class = "input normal" })

                        </dd>
                    </dl>
                    <dl>
                        <dt>招聘会时间</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.JobFairDate, new { id = "txtMeetingTime", @class = "input Wdate", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})" })

                        </dd>
                    </dl>
                    <dl>
                        <dt>报名截止时间</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.ApplyEndDate, new { id = "txtApplyTime", @class = "input Wdate", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})" })
                        </dd>
                    </dl>
                    <dl>
                        <dt>主办单位</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Host, new { id = "txtMeetingHost", @class = "input normal" })

                        </dd>
                    </dl>
                    <dl>
                        <dt>联系电话</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Phone, new { id = "txtMeetingPhone", @class = "input normal" })

                        </dd>
                    </dl>
                    <dl>
                        <dt>招聘会地址</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Address, new { id = "txtMeetingAddress", @class = "input normal" })

                        </dd>
                    </dl>
                    <dl>
                        <dt>说 明</dt>
                        <dd>
                            @Html.TextAreaFor(m => m.Desc,  new { id = "txtRemark", @class = "input normal", rows="5" })

                        </dd>
                    </dl>
                   @* <dl>
                        <dt>状态设置</dt>
                        <dd>
                            <div class="rule-multi-radio">
                                @Html.RadioButtonFor(m => m.State, 0, new { id = "listEnable_False", @checked = "checked" })<label for="listEnable_False">报名已结束</label>
                                @Html.RadioButtonFor(m => m.State, 1, new { id = "listEnable_True" })<label for="listEnable_True">开放报名中</label>
                            </div>
                        </dd>
                    </dl>*@
                    <!--工具栏-->
                    <div class="page-footer">
                        <div class="btn-wrap">
                            <input type="submit" name="btnSubmit" id="btnSubmit" value="提交保存" class="btn" />
                            <input type="button" name="btnReturn" id="btnReturn" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
                            <input type="hidden" name="hiddenId" id="hiddenId" Value="@ViewData["Id"]" />
                        </div>
                    </div>
                    <!--/工具栏-->
                </div>
                <div class="tab-content" style="display: none;">
                    <!--工具栏-->
                    <div id="floatHead" class="toolbar-wrap">
                        <div class="toolbar">
                            <div class="box-wrap">
                                <a class="menu-btn"></a>
                                <div class="l-list">
                                    <ul class="act-list">
                                        <li>
                                            <a class="all" href="javascript:void(0);" onclick="checkAll(this);">
                                                <i></i><span>全选</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="btnDelete" class="del" href="javascript: void(0);" onclick="return ExePostBack('@Url.Action("BulkDelete")')">
                                                <i></i><span>批量审核通过</span>
                                            </a>
                                            <input type="hidden" name="hidBulkIds" id="hidBulkIds" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/工具栏-->
                    <table class="ltable">
                        <thead>
                            <tr>
                                <th style="width: 5%;">选择</th>
                                <th>企业名称</th>
                                <!--<th style="width: 50%;">报名的职位</th>-->
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var jobFair in Model.JobFair)
                                {
                                     
                                <tr>
                                    <td>
                                        <input type="checkbox" name="chkSingle" id="chkSingle" class="checkall" value='1' title="选择" />
                                    </td>
                                    <td>@jobFair.Employer.Name
                                    </td>
                                    <!--<td>
                                        <div class="ls_rows row-jobs ">
                                            <ul>
                                                @foreach (var job in jobFair.Job)
                                                {
                                                    <li>
                                                        <a class="previewJobDetials" href="javascript: void(0);" data-href="@Url.Action("Details", "Jobs", new { id = job.Id })">@job.JobName</a>
                                                        <span>招聘人数：<label>@job.PersonNum</label></span>
                                                        <span>工作地点：<label>@job.WorkAddress.Name</label></span>
                                                        <span>薪资：<label>@job.PayLevel.Name</label></span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>-->
                                    <td>
                                        @if (jobFair.StateId == 2)
                                        {
                                            <span class="ui-ok">通过</span>
                                        }
                                        else
                                        {
                                            <span>未通过</span>
                                        }
                                    </td>
                                    <td class="nowrap">
                                        @if (jobFair.StateId != 2)
                                        {
                                            <a class="btn green" href="@Url.Action("Audit", new { id = jobFair.Id })">审核通过</a>
                                        }else{
                                            <a class="btn yellow" href="@Url.Action("UnAudit", new { id = jobFair.Id })">审核不通过</a>
                                        }

                                    </td>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!--/内容-->
            }
        </div>
    </div>
    <!--/main-->
    <!-- Recommended script positioning -->
    @Scripts.Render("~/Recruiting/Admin/js/layoutMain")
    <script type="text/javascript">
        /* document.ready */
        $(function () {
            /*初始化表单验证*/
            $("#form1").initValidform();

            var previewJobDetials = $(".previewJobDetials");
            $(previewJobDetials).each(function () {
                $(this).on("click", function () {
                    var href = $(this).attr("data-href");
                    var d = top.dialog({
                        id: 'jobDetails',
                        title: $(this).text(),
                        width: '600px',
                        height: '370px',
                        url: href
                    }).show();
                });
            });

            var tabLinks = $(".content-tab").find("ul li a");
            var selectedOption = parseInt('@ViewBag.SelectedOption');
            if (!isNaN(selectedOption) && selectedOption >= 1) {
                $(tabLinks[selectedOption - 1]).trigger("click");
            }
        });
    </script>
</body>
</html>
